#about {
    margin-top: 10%;
}

.about__container {
    display: grid;
    grid-template-columns: 60%;
    gap: 15%;
    margin-top: 5rem;
    transform: translateX(40%) translateY(20%)
}

/*--------------------- Right Side Cards ---------------------------*/
.about__content {
    margin-top: 4rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.7rem 1rem;
    text-align: center;
    text-overflow: ellipsis;
}

.about__card:hover {
    background: transparent;
    transition: var(--transition);
    border-color: var(--color-bg-variant);
    color: #8ecae6;
    transform: scale(1.05, 1.05);
}

article h5 {
    color: var(--color-primary-variant);
}

.about__icon {
    color: var(--color-primary-variant);
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.about__card h5 {
    font-size: 1.4rem;
    transform: translateY(-0.5rem);
}

.about__card p {
    font-size: 1rem;
    padding-top: .3rem;
    color: var(--color-black);
}

.about__card p:hover {
    color: aliceblue;
    cursor: pointer;
}

.about__introduction {
    font-family: 'Caveat Brush';
    color: aliceblue;
    margin: 0 1.9rem;
    transform: translateX(1rem); 
    font-size: 2rem;
}

.quote-wrapper {
    margin-top: 15%;
}

.quoteLeft {
    transform: translateX(.3rem);
    margin-top: 3rem;
    font-size: 16pt;
}

.quoteRight {
    width: 100%;
    text-align: right;
    font-size: 16pt;
}

.edu__description_1{
    margin-bottom: 8%;
}

.edu__description_2{
    margin-top: 8%;
}

.exp__description_1{
    margin-bottom: 8%;
}

.exp__description_2{
    margin-top: 8%;
}

/* animation */
.animateContainer {
    animation-duration: 2s;
    animation-name: animate-container;
}

@keyframes animate-container {
    0% {
        opacity: 0.3;
        transform: translateX(1rem) translateY(25%);
    }
    100% {
        opacity: 1;
    }
}

/*--------------------- Media Queries(Mobile) -------------------------*/
@media screen and (max-width: 640px) {
.about__container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
    transform: translateX(-5%) translateY(-20%)
}
}