#about {
    margin-top: 10%;
}

.about__container {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin-top: 5rem;
}

/*--------------------- Left Side Image ---------------------------*/
.about__me {
    width: 90%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-primary), transparent);
    display: grid;
    place-items: center;
    margin-top: 2.7rem;
}

.about__me img {
    height: 100%;
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(-10deg);

    /* -webkit-filter:  brightness(100%) contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
            filter:  brightness(100%) contrast(120%) grayscale(100%) hue-rotate(0deg) invert(0%) opacity(100%) saturate(100%) sepia(0%);
    mix-blend-mode: multiply; */
}

.about__me img:hover {
    transform: rotate(0deg);
}

/*--------------------- Right Side Cards ---------------------------*/
.about__content {
    margin-top: 4rem;
}

.about__cards {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.5rem;
}

.about__card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 1.7rem 1rem;
    text-align: center;
    text-overflow: ellipsis;
}

.about__card:hover {
    background: transparent;
    transition: var(--transition);
    border-color: var(--color-bg-variant);
}

article h5 {
    color: var(--color-primary-variant);
}

.about__icon {
    color: var(--color-primary-variant);
    font-size: 1.4rem;
    margin-bottom: .5rem;
}

.about__card h5 {
    font-size: 1.3rem;
    transform: translateY(-0.5rem);
}

.about__card p {
    font-size: .9rem;
    padding-top: .3rem;
    color: var(--color-black);
}

.about__introduction {
    margin: 0 1.6rem;
    transform: translateX(1rem);
    color: var(--color-light);
    font-size: 1.5rem;
}

.quoteLeft {
    transform: translateX(.3rem);
    margin-top: 3rem;
}

.quoteRight {
    width: 100%;
    text-align: right;
}

.edu__description_1{
    margin-bottom: 8%;
}

.edu__description_2{
    margin-top: 8%;
}

.exp__description_1{
    margin-bottom: 8%;
}

.exp__description_2{
    margin-top: 8%;
}


/*--------------------- Media Queries(Tablet) ---------------------------*/
@media screen and (max-width: 1024px) {
    .about__container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about__me {
        width: 50%;
        margin: 2rem auto 4rem;
    }

}

    /*--------------------- Media Queries(Mobile) -------------------------*/
    @media screen and (max-width: 480px) {
    .about__container {
        margin-top: 2rem;
    }

    .about__me {
        width: 65%;
        margin: 0 auto 3rem;
    }

    .about__cards {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    .about__content {
        text-align: center;
        margin-top: 0.5rem; 
    }

    .about__icon {
        margin-bottom: -0.5rem; 
    }

    .about__card {
        padding: 1rem 0.5rem;
    }

    .about__card h5 {
        font-size: 0.95rem;
        transform: translateY(0.3rem);
    }

    .about__card p {
        padding-top: -1.2rem; 
        font-size: .7rem;
    }

    .quoteLeft {
        transform: translateX(-10rem); 
    }

    .about__introduction {
        transform: translateX(-0.1rem);
        font-size: 1rem;
    }

    .projects {
        transform: translateX(5.8rem);
    }

    .projects p{
        padding-bottom: 1rem;
    }
}