header {
    height: 110vh;
    padding-top: 2rem;
}

.headerName {
    position: fixed;
    z-index: 999;
}

.header__container {
    text-align: center;
    height: 100%;
    position: relative;
}

.header__container h1 {
    color: #8ecae6;
}

/*--------------------- Header Buttons --------------------------*/
.resumeBtns {
    margin-top: 2.5rem;
    margin-bottom: .8rem;
    display: flex;
    gap: 1.5rem;
    justify-content: center;
    font-weight: 600;
}

/*--------------------- Social Icons ----------------------------*/
.header__socials {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    position: absolute;
    right: -5%;
    top: 15%;
}

.header__socials::before {
    content: "";
    width: 1px;
    height: 4rem;
    background: var(--color-primary);
}

.header__socials::after {
    content: "";
    width: 1px;
    height: 4rem;
    background: var(--color-primary);
}

.social {
    font-size: 1.3rem;
}

.meIcons {
    margin-top: -65%;
    transform: translateX(6%);
}

.keyboard {
    position: absolute;
    left: 50%;
    transform: rotate(-50deg) translate(-1.4rem, -17.5rem);
}

.mouse {
    position: absolute;
    left: 50%;
    transform: rotate(-60deg) translate(5.1rem, -18.5rem);
}

.reactLogo {
    position: absolute;
    left: 50%;
    transform: translate(-11.5rem, -16rem);
}

.jsLogo {
    position: absolute;
    left: 50%;
    transform: rotate(-50deg) translate(4.2rem, -21.9rem);
}

.airplane {
    font-size: ;
}

.meTitle {
    transform: translateX(10.3rem) translateY(-14.5rem) rotate(-45deg);
}

.meTitle-text {
    font-family: 'Kristi';
    font-size: 35pt;
    margin-top: -3%;
}

/*--------------------- My Image ----------------------------*/
.me {
    width: 23rem;
    height: 28rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 2rem;
    padding-top: 1.5rem;
    background: linear-gradient(transparent, var(--color-primary));
    border-radius: 0 0 15rem 15rem;
}

.me img{
    width: 100%;
    transform: translateX(-2%) translateY(-9.5%);
    filter: brightness(85%) contrast(95%) grayscale(15%);
}

/*--------------------- Scroll Down ----------------------------*/
.scroll__down {
    position: absolute;
    right: -2.3rem;
    bottom: 20rem;
    transform: rotate(90deg);
    font-weight: 500;
}

/*--------------------- Media Queries(Tablet) ---------------------------*/
@media screen and (max-width: 1024px) {
    header {
        height: 100vh;
    }

    .scroll__down {
        bottom: 6rem;
    }

}

/*--------------------- Media Queries(Mobile) ---------------------------*/
@media screen and (max-width: 640px) {
    header {
        height: 100vh;
    }

    .header__socials,
    .scroll__down {
        display: none;
    }

    .me {
        width: 20rem;
        height: 24.5rem;
    }

    .meIcons {
        transform: translate(2.6rem, 1.8rem);
    }

}

